@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
}
@theme {
  --color-primary-50: #e6f7fa;
  --color-primary-500: #2fabe3; /* اللون الأساسي للموقع */
  --color-primary-600: #30c2df;
  --color-primary-700: #5b91db;

  --color-secondary-500: #8473c2;
  --color-secondary-600: #9e529a;

  --color-accent: #a63168;

  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;

  --color-neutral-bg: #ffffff;
  --color-neutral-dark: #1f2937;
  --color-neutral-light: #f3f4f6;
}
